.titulo{
   color: #FF002C;
  
}

.data{
font-weight: bold;

}

.texto{

}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;;

}

.lista {


}